<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

  <title>Study_Room</title>
  <link rel="stylesheet" href="major.css" />
  <script src="script.js"></script>
</head>
<body>
  <div class="container_index">
    <!-- Sidebar -->
    <aside class="sidebar">
      <div class="logo"> <a href="index.html">Study_Room</a></div>
      <nav class="menu">
        <h3 class="active">Options</h3>
        <a href="schedule.html">My Schedule</a>
        <a href="#">Current Availability</a>
        <a href="#">Extra Remainders</a>
      </nav>
      <div class="bottom-link">
        <a href="#">My profile</a>
      </div>
    </aside>

    <!-- Main content -->
    <main class="main">
      <div class="top-bar">
        <div>
          <h1>Event</h1>
        </div>
        <button class="schedule.html">+ Create/Add my schedule</button>
      </div>

      <div class="event-card">
        <div class="event-card-header">
          <div>
            <h2>My Booking</h2>
          <!------ ADD condition according to the -->
            <a href="#" class="booking-link">View booking page</a>  <!-- page to see booking --->
          </div>
          <button class="share-btn">Share</button>
        </div>
      </div>
    </main>
  </div>
</body>
</html>
